EXCHLITE/ICE.PhilsExperimentalVAT100/CIS/Docs CIS/gov/pso/add-v2-1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Jun 07 15:58:14 BST 2006
  -->
<xsd:schema version='2.1' elementFormDefault='qualified' attributeFormDefault='unqualified' id='AddAdministrator' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/AddAdministrator/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/AddAdministrator/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2005-06-22</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-06-07</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>AddAdministrator</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2005</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pensions Schemes Online Add Administrator message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='AddAdministrator'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='SFReference' type='SFReferenceType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='ContractReference' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PSOstringType'>
                    <xsd:minLength value='1' />
                    <xsd:maxLength value='35' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AdminBefore6April2006' type='YesNoType' minOccurs='1' maxOccurs='1' />
        <xsd:element name='Declaration' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='DischargeFunctions' type='YesType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='NoFalseStatements' type='YesType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='NewAdministrator' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base='EntityType'>
                <xsd:sequence>
                  <xsd:element name='Address' type='AdministratorAddressType' minOccurs='1' maxOccurs='1' />
                  <xsd:element name='Telephone' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                  <xsd:element name='ID' type='AdministratorIDtype' minOccurs='1' maxOccurs='1' />
                  <xsd:element name='Email' type='EmailType' minOccurs='0' maxOccurs='1' />
                </xsd:sequence>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
