EXCHLITE/ICE.PhilsExperimentalVAT100/CIS/Docs CIS/gov/pso/amd-v2-1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Thu May 25 15:08:37 BST 2006
  -->
<xsd:schema version='2.1' elementFormDefault='qualified' attributeFormDefault='unqualified' id='AmendSchemeDetails' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/AmendSchemeDetails/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/AmendSchemeDetails/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2005-06-22</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-05-25</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>AmendSchemeDetails</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2005</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Amend Scheme Details message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='AmendSchemeDetails'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Changed' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='UpdateSchemeEstablisher' minOccurs='0' maxOccurs='99'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='ChangeDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='CurrentDetails' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base='EntityType'>
                            <xsd:sequence>
                              <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                            </xsd:sequence>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='NewDetails' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:complexContent>
                          <xsd:extension base='EntityType'>
                            <xsd:sequence>
                              <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                            </xsd:sequence>
                          </xsd:extension>
                        </xsd:complexContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='NewSchemeEstablisher' minOccurs='0' maxOccurs='99'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='StartDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='Name' type='EntityType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='SchemeEstablisherCessation' minOccurs='0' maxOccurs='99'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='CessationDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='Name' type='EntityType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='SchemeAdministratorCessation' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='CessationDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='Name' type='EntityType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='Address' type='AdministratorAddressType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='AdministratorID' type='AdministratorIDtype' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='NoFalseStatements' type='YesType' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='ClientReference' minOccurs='0' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='ChangeDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='AdministratorID' type='AdministratorIDtype' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='CurrentReference' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='50' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='NewReference' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='50' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='OtherRecords' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='ContractingOutReference' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:pattern value='[E|A|S][A-Z0-9]{7,8}' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='ReliefAtSourceReference' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:pattern value='[A-Za-z][0-9]{4}' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='VATreference' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:length value='9' />
                          <xsd:pattern value='[0-9]{9}' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
