EXCHLITE/ICE.PhilsExperimentalVAT100/CIS/Docs CIS/gov/pso/eco-v0-6.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Fri Jun 02 17:22:53 BST 2006
  -->
<xsd:schema version='0.6' elementFormDefault='qualified' attributeFormDefault='unqualified' id='ElectionToContractOut' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/ElectionToContractOut' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/ElectionToContractOut' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2005-05-08</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-06-02</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ElectionToContractOut</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ECONType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ElectionDeclarationType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2005</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Election to Contract Out message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='ElectionToContractOut'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='SFReference' type='SFReferenceType' minOccurs='0' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Manager' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base='EntityType'>
                <xsd:sequence>
                  <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                  <xsd:element name='Telephone' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                  <xsd:element name='Email' type='EmailType' minOccurs='0' maxOccurs='1' />
                  <xsd:element name='Reference' minOccurs='0' maxOccurs='1'>
                    <xsd:simpleType>
                      <xsd:restriction base='PSOstringType'>
                        <xsd:minLength value='1' />
                        <xsd:maxLength value='30' />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='CertificateType' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:choice minOccurs='1' maxOccurs='1'>
              <xsd:element name='Type' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PSOstringType'>
                    <xsd:enumeration value='comp' />
                    <xsd:enumeration value='compshp' />
                    <xsd:enumeration value='app' />
                    <xsd:enumeration value='appshp' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:sequence>
                <xsd:element name='RevaluationType' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:enumeration value='cosr' />
                      <xsd:enumeration value='comb' />
                      <xsd:enumeration value='iwcosr' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='RevaluationMethod' minOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:enumeration value='fixed' />
                      <xsd:enumeration value='148' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
              <xsd:element name='ConvertCOMPSHP' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='ExistingSCON' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='9' />
                          <xsd:pattern value='S[012468][0-9]{6}[A-FHJ-NP-RTW-Z]' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='ConvertAPPSHP' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='ExistingASCN' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:pattern value='A[0-2468][0-9]{6}[A-FHJ-NP-RTW-Y]' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='ContractingOutDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
        <xsd:element name='Trustee' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base='EntityType'>
                <xsd:sequence>
                  <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                  <xsd:element name='Telephone' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                  <xsd:element name='Email' minOccurs='0' maxOccurs='1'>
                    <xsd:simpleType>
                      <xsd:restriction base='EmailType'>
                        <xsd:minLength value='3' />
                        <xsd:maxLength value='254' />
                        <xsd:pattern value='.+@.+' />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name='Reference' minOccurs='0' maxOccurs='1'>
                    <xsd:simpleType>
                      <xsd:restriction base='PSOstringType'>
                        <xsd:minLength value='1' />
                        <xsd:maxLength value='30' />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:choice minOccurs='1' maxOccurs='1'>
          <xsd:element name='OccupationalScheme' minOccurs='1' maxOccurs='1'>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name='Notice' minOccurs='1' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='Type' minOccurs='1' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Intention' minOccurs='0' maxOccurs='1'>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name='Date' type='xsd:date' minOccurs='1' maxOccurs='1' />
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name='Explanation' type='YesType' minOccurs='0' maxOccurs='1' />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name='IssueMethod' minOccurs='1' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Sent' type='YesType' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='Exhibited' type='YesType' minOccurs='0' maxOccurs='1' />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name='CopiedTo' minOccurs='1' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Trustees' type='YesType' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='Administrator' type='YesType' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='InsurerOrFriendlySociety' type='YesType' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='TradeUnions' type='YesType' minOccurs='0' maxOccurs='1' />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='SchemeNature' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:enumeration value='public' />
                      <xsd:enumeration value='centralised' />
                      <xsd:enumeration value='overseas' />
                      <xsd:enumeration value='industry' />
                      <xsd:enumeration value='insured' />
                      <xsd:enumeration value='centrally' />
                      <xsd:enumeration value='individual' />
                      <xsd:enumeration value='public-individual' />
                      <xsd:enumeration value='centralised-industry' />
                      <xsd:enumeration value='centralised-insured' />
                      <xsd:enumeration value='overseas-industry' />
                      <xsd:enumeration value='overseas-insured' />
                      <xsd:enumeration value='overseas-centralised' />
                      <xsd:enumeration value='industry-insured' />
                      <xsd:enumeration value='industry-centrally' />
                      <xsd:enumeration value='insured-centrally' />
                      <xsd:enumeration value='none' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='OverseasSchemeDetails' minOccurs='0'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='OverseasAuditor' minOccurs='1'>
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base='EntityType'>
                              <xsd:sequence>
                                <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                              </xsd:sequence>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name='UKAdministrator' minOccurs='1'>
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base='EntityType'>
                              <xsd:sequence>
                                <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                              </xsd:sequence>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='EmployerDetails' minOccurs='1'>
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base='EntityType'>
                        <xsd:sequence>
                          <xsd:element name='Address' type='AddressType' minOccurs='1' />
                          <xsd:element name='CRN' type='CRNtype' minOccurs='0' maxOccurs='1' />
                        </xsd:sequence>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='AccountOfficeNumber' minOccurs='0'>
                  <xsd:simpleType>
                    <xsd:restriction base='xsd:integer'>
                      <xsd:pattern value='[0-9]{3}' />
                      <xsd:maxInclusive value='999' />
                      <xsd:minInclusive value='0' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='PAYEreference' minOccurs='0'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:minLength value='1' />
                      <xsd:maxLength value='7' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='ECON' type='ECONType' minOccurs='0' />
                <xsd:element name='OtherEmployerDetails' minOccurs='0'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='Employer' minOccurs='1'>
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base='EntityType'>
                              <xsd:sequence>
                                <xsd:element name='Address' type='AddressType' minOccurs='1' />
                                <xsd:element name='ECON' type='ECONType' minOccurs='0' />
                                <xsd:element name='SCON' minOccurs='0' maxOccurs='1'>
                                  <xsd:simpleType>
                                    <xsd:restriction base='PSOstringType'>
                                      <xsd:minLength value='1' />
                                      <xsd:maxLength value='9' />
                                      <xsd:pattern value='S[012468][0-9]{6}[A-FHJ-NP-RTW-Z]' />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='HoldingCompany' minOccurs='0'>
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base='EntityType'>
                        <xsd:sequence>
                          <xsd:element name='Address' type='AddressType' minOccurs='1' />
                          <xsd:element name='ECON' type='ECONType' minOccurs='0' />
                        </xsd:sequence>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='PrincipalEmployer' minOccurs='0'>
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base='EntityType'>
                        <xsd:sequence>
                          <xsd:element name='Address' type='AddressType' minOccurs='1' />
                          <xsd:element name='CRN' type='CRNtype' minOccurs='0' maxOccurs='1' />
                          <xsd:element name='ECON' type='ECONType' minOccurs='0' />
                        </xsd:sequence>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='EmploymentsCovered' minOccurs='1'>
                  <xsd:complexType>
                    <xsd:choice minOccurs='1' maxOccurs='1'>
                      <xsd:element name='All' type='YesType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='AllExcept' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='PSOstringType'>
                            <xsd:minLength value='1' />
                            <xsd:maxLength value='255' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='Subsidiaries' minOccurs='0'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='Details' minOccurs='1' maxOccurs='unbounded'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Organisation' minOccurs='0' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='PSOstringType'>
                                  <xsd:minLength value='1' />
                                  <xsd:maxLength value='255' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='CRN' type='CRNtype' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='ECON' type='ECONType' minOccurs='0' />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='Declaration' minOccurs='1' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='InformationCorrect' type='YesType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='EmployerApproved' type='YesType' minOccurs='0' maxOccurs='1' />
                      <xsd:element name='EmployerAuthorised' type='YesType' minOccurs='0' maxOccurs='1' />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name='PersonalPensionScheme' minOccurs='1' maxOccurs='1'>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name='Establisher' minOccurs='1'>
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base='EntityType'>
                        <xsd:sequence>
                          <xsd:element name='Address' type='AddressType' minOccurs='1' />
                        </xsd:sequence>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='Type' minOccurs='0'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:enumeration value='bank' />
                      <xsd:enumeration value='building-society' />
                      <xsd:enumeration value='insurance-company' />
                      <xsd:enumeration value='friendly-society' />
                      <xsd:enumeration value='unit-trust' />
                      <xsd:enumeration value='pension-company' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='SchemeNature' minOccurs='0'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:enumeration value='insurance-annuity' />
                      <xsd:enumeration value='unit-trust' />
                      <xsd:enumeration value='shares-deposit' />
                      <xsd:enumeration value='interest-bearing' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:element name='NICRebate' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='BankDetails' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='BankName' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='255' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='BankAddress' type='AddressType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='SortCode' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='SortCodeType'>
                          <xsd:length value='6' />
                          <xsd:pattern value='[0-9]+' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='AccountNumber' type='AccountNumberType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='AccountName' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='AccountNameType'>
                          <xsd:minLength value='1' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='PaymentsContact' minOccurs='1'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='EntityType'>
                      <xsd:sequence>
                        <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                        <xsd:element name='MMN' minOccurs='0' maxOccurs='1'>
                          <xsd:simpleType>
                            <xsd:restriction base='xsd:positiveInteger'>
                              <xsd:maxInclusive value='99999' />
                              <xsd:minInclusive value='1' />
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Declaration' type='ElectionDeclarationType' minOccurs='1' maxOccurs='1' />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name='ECONType'>
    <xsd:restriction base='xsd:string'>
      <xsd:pattern value='E3[0-9]{6}[A-FHJ-NP-RTV-Y][GIOSUVZ]' />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name='ElectionDeclarationType'>
    <xsd:sequence>
      <xsd:element name='MeetsOccupationalConditions' type='YesType' minOccurs='0' maxOccurs='1' />
      <xsd:element name='Capacity' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='PSOstringType'>
            <xsd:enumeration value='manager' />
            <xsd:enumeration value='trustee' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='ApprovedBy' minOccurs='0' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='PSOstringType'>
            <xsd:enumeration value='manager' />
            <xsd:enumeration value='employer' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='AuthorisedBy' minOccurs='0' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='PSOstringType'>
            <xsd:enumeration value='manager' />
            <xsd:enumeration value='employer' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
