EXCHLITE/ICE.PhilsExperimentalVAT100/CIS/Docs CIS/gov/pso/evt-v2-4.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Tue Jun 06 15:54:58 BST 2006
  -->
<xsd:schema version='2.4' elementFormDefault='qualified' attributeFormDefault='unqualified' id='SchemeEventReport' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/SchemeEventReport/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/SchemeEventReport/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2004-07-22</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-06-06</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>SchemeEventReport</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>SimpleDateType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>DetailedEntityType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2004-5</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Event Report message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='SchemeEventReport'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='VersionNumber' minOccurs='1' maxOccurs='1'>
          <xsd:simpleType>
            <xsd:restriction base='xsd:integer'>
              <xsd:pattern value='[0-9]{1,2}' />
              <xsd:maxInclusive value='99' />
              <xsd:minInclusive value='0' />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name='Amendment' type='YesNoType' minOccurs='1' maxOccurs='1' />
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='YearEnded' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:date'>
                    <xsd:pattern value='[0-9]{4}-04-05' />
                    <xsd:minInclusive value='2007-04-05' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:choice minOccurs='1' maxOccurs='1'>
                <xsd:element name='SFReference' type='SFReferenceType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='ContractOrPolicyNumber' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:minLength value='1' />
                      <xsd:maxLength value='35' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='1' maxOccurs='1' />
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='WoundUp' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='StartInvestmentRegulated' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='EndInvestmentRegulated' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AllowUnauthorisedPayments' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AllowNonInsuranceInvestments' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='RulesChange' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='LegalStructure' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='NewStructure' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:choice minOccurs='1' maxOccurs='1'>
                      <xsd:element name='Type' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='PSOstringType'>
                            <xsd:enumeration value='single' />
                            <xsd:enumeration value='body-corporate' />
                            <xsd:enumeration value='annuity-contract' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
                    </xsd:choice>
                    <xsd:element name='ContractOrPolicyNumber' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PSOstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='NumberOfMembers' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='NumberBand' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PSOstringType'>
                    <xsd:enumeration value='0' />
                    <xsd:enumeration value='1-10' />
                    <xsd:enumeration value='11-50' />
                    <xsd:enumeration value='51-10000' />
                    <xsd:enumeration value='10001+' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='CountryChanged' minOccurs='0' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Country' type='PSOcountryType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='InvestmentRegulated' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='BecameOccupational' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='BecameNonOccupational' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='UnauthorisedPayments' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Recipient' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:choice minOccurs='1' maxOccurs='1'>
                      <xsd:element name='Member' type='MemberDetailsStructure' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='OnBehalfMember' type='DetailedEntityType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='Employer' type='DetailedEntityType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='OnBehalfEmployer' type='DetailedEntityType' minOccurs='1' maxOccurs='1' />
                    </xsd:choice>
                    <xsd:element name='Payment' minOccurs='1' maxOccurs='unbounded'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:choice minOccurs='1' maxOccurs='1'>
                            <xsd:element name='Nature' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='PSOstringType'>
                                  <xsd:enumeration value='benefit-in-kind' />
                                  <xsd:enumeration value='employer' />
                                  <xsd:enumeration value='non-recognised' />
                                  <xsd:enumeration value='error' />
                                  <xsd:enumeration value='non-relevant-factor' />
                                  <xsd:enumeration value='benefits' />
                                  <xsd:enumeration value='loans' />
                                  <xsd:enumeration value='residential-property' />
                                  <xsd:enumeration value='tangible-property' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
                          </xsd:choice>
                          <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                <xsd:maxInclusive value='9999999999.00' />
                                <xsd:minInclusive value='1.00' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='LumpSumsInRespectOfDeath' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Recipient' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:complexContent>
                              <xsd:extension base='EntityType'>
                                <xsd:sequence>
                                  <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                                  <xsd:element name='Payment' minOccurs='1' maxOccurs='unbounded'>
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                          <xsd:simpleType>
                                            <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                              <xsd:maxInclusive value='9999999999.00' />
                                              <xsd:minInclusive value='1.00' />
                                            </xsd:restriction>
                                          </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                                        <xsd:choice minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='Nature' minOccurs='1' maxOccurs='1'>
                                            <xsd:simpleType>
                                              <xsd:restriction base='PSOstringType'>
                                                <xsd:enumeration value='charity' />
                                                <xsd:enumeration value='transfer' />
                                                <xsd:enumeration value='commutation' />
                                              </xsd:restriction>
                                            </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
                                        </xsd:choice>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:extension>
                            </xsd:complexContent>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='PaymentsExceedingHalfSLA' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Recipient' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:complexContent>
                              <xsd:extension base='EntityType'>
                                <xsd:sequence>
                                  <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                                  <xsd:element name='Payment' minOccurs='1' maxOccurs='unbounded'>
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                          <xsd:simpleType>
                                            <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                              <xsd:maxInclusive value='9999999999.00' />
                                              <xsd:minInclusive value='1.00' />
                                            </xsd:restriction>
                                          </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:extension>
                            </xsd:complexContent>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='IllHealthSuspensions' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Suspension' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='PensionRate' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='BenefitCrystallisation' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Event' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                              <xsd:element name='Reference' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='PSOstringType'>
                                    <xsd:pattern value='[0-9]{7}[A-Z]' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='TransfersOverseas' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Transfer' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                              <xsd:element name='ReceivingScheme' minOccurs='1' maxOccurs='1'>
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name='Name' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
                                    <xsd:element name='Country' minOccurs='1' maxOccurs='1'>
                                      <xsd:simpleType>
                                        <xsd:restriction base='PSOstringType'>
                                          <xsd:minLength value='1' />
                                          <xsd:maxLength value='35' />
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='MembersWithAssetsMeetingFA2004Conditions' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='UpTo50KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='UpTo100KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='UpTo250KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='UpTo500KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Over500KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='LumpSumDeathBenefits' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='UpTo50KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='UpTo100KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='UpTo250KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='UpTo500KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Over500KMemberCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:pattern value='[0-9]{1,6}' />
                    <xsd:maxInclusive value='999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='EarlyBenefits' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Benefit' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:choice minOccurs='1' maxOccurs='1'>
                                <xsd:element name='Reason' minOccurs='1' maxOccurs='1'>
                                  <xsd:simpleType>
                                    <xsd:restriction base='PSOstringType'>
                                      <xsd:enumeration value='ill-health' />
                                      <xsd:enumeration value='protected' />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
                              </xsd:choice>
                              <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='IllHealthPayments' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Payment' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='LargeCommencementLumpSums' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Payment' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='AmountCrystallised' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='AmountLumpSum' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='EnhancedProtectionLumpSums' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Member' minOccurs='1' maxOccurs='unbounded'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Payment' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Date' type='SimpleDateType' minOccurs='1' maxOccurs='1' />
                              <xsd:element name='Reference' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='PSOstringType'>
                                    <xsd:pattern value='[0-9]{7}[A-Z]' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='ProfitTaxableProperty' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='SoldDisposedTaxableProperty' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='Declaration' type='DeclarationsType' minOccurs='1' maxOccurs='1' />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name='SimpleDateType'>
    <xsd:restriction base='xsd:date'>
      <xsd:pattern value='[0-9]{4}-[0-9]{2}-[0-9]{2}' />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name='DetailedEntityType'>
    <xsd:choice minOccurs='1' maxOccurs='1'>
      <xsd:element name='Individual' type='IndividualDetailsStructure' minOccurs='1' maxOccurs='1' />
      <xsd:element name='Organisation' minOccurs='1' maxOccurs='1'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name='Name' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='PSOstringType'>
                  <xsd:minLength value='1' />
                  <xsd:maxLength value='255' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
            <xsd:element name='CRN' type='CRNtype' minOccurs='1' maxOccurs='1' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>
