EXCHLITE/ICE.PhilsExperimentalVAT100/CIS/Docs CIS/gov/pso/reg-v2-1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Dec 07 11:41:34 GMT 2005
  -->
<xsd:schema version='2.1' elementFormDefault='qualified' attributeFormDefault='unqualified' id='Registration' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/Registration/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/Registration/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2004-05-11</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2005-12-07</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>SchemeRegistration</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2004-5</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Registration message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='SchemeRegistration'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='Administrator' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='EntityType'>
                      <xsd:sequence>
                        <xsd:element name='Address' type='AdministratorAddressType' minOccurs='1' maxOccurs='1' />
                        <xsd:element name='Telephone' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                        <xsd:element name='ID' type='AdministratorIDtype' minOccurs='1' maxOccurs='1' />
                        <xsd:element name='Email' type='EmailType' minOccurs='0' maxOccurs='1' />
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='PolicyOrContractNumber' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PSOstringType'>
                    <xsd:minLength value='1' />
                    <xsd:maxLength value='35' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:choice minOccurs='1' maxOccurs='1'>
          <xsd:element name='DeferredAnnuity' type='YesType' minOccurs='1' maxOccurs='1' />
          <xsd:element name='NotDeferredAnnuity' minOccurs='1' maxOccurs='1'>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name='Stakeholder' type='YesNoType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='LegalStructure' minOccurs='1' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:choice minOccurs='1' maxOccurs='1'>
                      <xsd:element name='Type' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='xsd:string'>
                            <xsd:enumeration value='single' />
                            <xsd:enumeration value='annuity-contract' />
                            <xsd:enumeration value='overall-individual' />
                            <xsd:enumeration value='overall-specific' />
                            <xsd:enumeration value='body-corporate' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
                    </xsd:choice>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='FutureMembers' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='xsd:string'>
                      <xsd:enumeration value='0' />
                      <xsd:enumeration value='1-10' />
                      <xsd:enumeration value='11-50' />
                      <xsd:enumeration value='51-10000' />
                      <xsd:enumeration value='10001+' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='MemberAssetControl' type='YesNoType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='Establisher' minOccurs='1' maxOccurs='99'>
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base='EntityType'>
                        <xsd:sequence>
                          <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                        </xsd:sequence>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='Declarations' minOccurs='1' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='MeetsCriteria' type='YesType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='InformationCorrect' type='YesType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='NoUnauthorisedPayments' type='YesType' minOccurs='1' maxOccurs='1' />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:element name='SendAcknowledgement' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='PractitionerID' type='PractitionerIDtype' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Declarations' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='DischargeFunctions' type='YesType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='NoFalseStatements' type='YesType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
