EXCHLITE/ICE/CIS/Docs CIS/gov/pso/aft-v2-4.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Thu Jan 19 13:30:07 GMT 2006
  -->
<xsd:schema version='2.4' elementFormDefault='qualified' attributeFormDefault='unqualified' id='AccountingForTax' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/AccountingForTax/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/AccountingForTax/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2005-02-02</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-01-19</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>AccountingForTax</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2004-2005</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Accounting for Tax message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='AccountingForTax'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='VersionNumber' minOccurs='1' maxOccurs='1'>
          <xsd:simpleType>
            <xsd:restriction base='xsd:integer'>
              <xsd:pattern value='[0-9]' />
              <xsd:maxInclusive value='9' />
              <xsd:minInclusive value='0' />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:choice minOccurs='1' maxOccurs='1'>
                <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='SFReference' type='SFReferenceType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='ContractOrPolicyNumber' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='PSOstringType'>
                      <xsd:minLength value='1' />
                      <xsd:maxLength value='35' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:choice>
              <xsd:choice minOccurs='1' maxOccurs='1'>
                <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='InsuranceCompany' minOccurs='1' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='ContractOrPolicyName' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='PSOstringType'>
                            <xsd:minLength value='1' />
                            <xsd:maxLength value='255' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='TaxAt35Percent' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='1.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='TaxDeducted' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Quarter' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PSOstringType'>
                    <xsd:enumeration value='01' />
                    <xsd:enumeration value='02' />
                    <xsd:enumeration value='03' />
                    <xsd:enumeration value='04' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Year' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:integer'>
                    <xsd:pattern value='[0-9]{4}' />
                    <xsd:minInclusive value='2006' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AmendedReturn' type='YesNoType' minOccurs='1' maxOccurs='1' />
        <xsd:element name='ShortServiceRefund' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Members' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:integer'>
                    <xsd:pattern value='[0-9]{1,4}' />
                    <xsd:maxInclusive value='9999' />
                    <xsd:minInclusive value='1' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='TotalTax20Percent' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                    <xsd:maxInclusive value='9999999999.00' />
                    <xsd:minInclusive value='1.00' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='TotalTax40Percent' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                    <xsd:maxInclusive value='9999999999.00' />
                    <xsd:minInclusive value='0.00' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='SpecialDeathBenefits' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Members' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:integer'>
                    <xsd:pattern value='[0-9]{1,4}' />
                    <xsd:maxInclusive value='9999' />
                    <xsd:minInclusive value='1' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='TotalTax' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                    <xsd:maxInclusive value='9999999999.00' />
                    <xsd:minInclusive value='1.00' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AuthorisedSurplus' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Employers' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:integer'>
                    <xsd:pattern value='[0-9]{1,2}' />
                    <xsd:maxInclusive value='99' />
                    <xsd:minInclusive value='1' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='TotalTax' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                    <xsd:maxInclusive value='9999999999.00' />
                    <xsd:minInclusive value='1.00' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Employer' minOccurs='1' maxOccurs='99'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='EntityType'>
                      <xsd:sequence>
                        <xsd:element name='CRN' type='CRNtype' minOccurs='0' maxOccurs='1' />
                        <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                        <xsd:element name='Payment' minOccurs='1' maxOccurs='1'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='Date' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='xsd:date'>
                                    <xsd:minInclusive value='2006-04-06' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='Tax' minOccurs='1' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='LifetimeAllowance' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Members' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:integer'>
                    <xsd:pattern value='[0-9]{1,2}' />
                    <xsd:maxInclusive value='99' />
                    <xsd:minInclusive value='1' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='TotalTax' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                    <xsd:maxInclusive value='9999999999.00' />
                    <xsd:minInclusive value='1.00' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Member' minOccurs='1' maxOccurs='99'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='MemberDetailsStructure'>
                      <xsd:sequence>
                        <xsd:element name='Event' minOccurs='1' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name='BenefitDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                              <xsd:element name='LAC25Percent' minOccurs='0' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name='LAC55Percent' minOccurs='0' maxOccurs='1'>
                                <xsd:simpleType>
                                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                    <xsd:maxInclusive value='9999999999.00' />
                                    <xsd:minInclusive value='1.00' />
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Deregistration' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Charge' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                    <xsd:maxInclusive value='9999999999.00' />
                    <xsd:minInclusive value='1.00' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Date' type='xsd:date' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='TotalTax' minOccurs='0' maxOccurs='1'>
          <xsd:simpleType>
            <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
              <xsd:maxInclusive value='9999999999.00' />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name='Declaration' type='DeclarationsType' minOccurs='1' maxOccurs='1' />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
