EXCHLITE/ICE/CIS/Docs CIS/gov/pso/assoc-v2-0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Jan 18 14:50:31 GMT 2006
  -->
<xsd:schema version='2.0' elementFormDefault='qualified' attributeFormDefault='unqualified' id='NotifyAdminDetails' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/NotifyAdminDetails/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/NotifyAdminDetails/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2005-07-19</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-01-18</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>NotifyAdminDetails</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2005</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Associate Scheme Administrator message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='NotifyAdminDetails'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='1' maxOccurs='1' />
        <xsd:element name='AdministratorID' type='AdministratorIDtype' minOccurs='1' maxOccurs='unbounded' />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
