EXCHLITE/ICE/CIS/Docs CIS/gov/pso/change-v2-2.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Jan 18 14:50:31 GMT 2006
  -->
<xsd:schema version='2.2' elementFormDefault='qualified' attributeFormDefault='unqualified' id='ChangeAdministratorPractitioner' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/ChangeAdministratorPractitioner/2' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/ChangeAdministratorPractitioner/2' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2004-07-21</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-01-18</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ChangeAdministratorPractitioner</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2004-5</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Change of Scheme Administrator / Practitioner Details message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='ChangeAdministratorPractitioner'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice minOccurs='1' maxOccurs='1'>
          <xsd:element name='AdministratorID' type='AdministratorIDtype' minOccurs='1' maxOccurs='1' />
          <xsd:element name='PractitionerID' type='PractitionerIDtype' minOccurs='1' maxOccurs='1' />
        </xsd:choice>
        <xsd:element name='Changed' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Name' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Old' type='EntityType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='New' type='EntityType' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Address' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Old' type='AddressType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='New' type='AddressType' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Email' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Old' type='EmailType' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='New' type='EmailType' minOccurs='0' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Telephone' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Old' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='New' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Communication' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Electronic' type='YesNoType' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='UpdateReliefAtSource' type='YesNoType' minOccurs='1' maxOccurs='1' />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
