EXCHLITE/ICE/CIS/Docs CIS/gov/pso/ras-v0-5.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Fri Apr 28 14:42:04 BST 2006
  -->
<xsd:schema version='0.5' elementFormDefault='qualified' attributeFormDefault='unqualified' id='ReliefAtSource' targetNamespace='http://www.govtalk.gov.uk/taxation/PensionReliefAtSource' xmlns='http://www.govtalk.gov.uk/taxation/PensionReliefAtSource' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2004-05-11</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-04-28</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>ReliefAtSource</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2004-5</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Relief at Source message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='ReliefAtSource'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='IRSNumber' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:string'>
                    <xsd:length value='5' />
                    <xsd:pattern value='[A-Z][0-9]{4}' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:choice minOccurs='1' maxOccurs='1'>
                <xsd:element name='AdministratorID' type='AdministratorIDtype' minOccurs='1' maxOccurs='1' />
                <xsd:element name='PractitionerID' type='PractitionerIDtype' minOccurs='1' maxOccurs='1' />
              </xsd:choice>
              <xsd:element name='AdministratorPractitioner' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base='EntityType'>
                      <xsd:sequence>
                        <xsd:element name='Address' type='AddressType' minOccurs='1' maxOccurs='1' />
                      </xsd:sequence>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Amendment' type='YesNoType' minOccurs='1' maxOccurs='1' />
        <xsd:element name='Details' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='BankDetails' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Current' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='BankName' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='PSOstringType'>
                                <xsd:minLength value='1' />
                                <xsd:maxLength value='255' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='BankAddress' type='AddressType' minOccurs='1' maxOccurs='1' />
                          <xsd:element name='SortCode' type='SortCodeType' minOccurs='1' maxOccurs='1' />
                          <xsd:element name='AccountNumber' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='AccountNumberType'>
                                <xsd:length value='8' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='AccountName' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='AccountNameType'>
                                <xsd:minLength value='1' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='New' minOccurs='0' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='BankName' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='PSOstringType'>
                                <xsd:minLength value='1' />
                                <xsd:maxLength value='255' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='BankAddress' type='AddressType' minOccurs='1' maxOccurs='1' />
                          <xsd:element name='SortCode' type='SortCodeType' minOccurs='1' maxOccurs='1' />
                          <xsd:element name='AccountNumber' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='AccountNumberType'>
                                <xsd:length value='8' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='AccountName' type='AccountNameType' minOccurs='1' maxOccurs='1' />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='AuthorisedSignatories' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Current' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='Signatory' type='NameStructure' minOccurs='2' maxOccurs='5' />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='New' minOccurs='0' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='Signatory' type='NameStructure' minOccurs='2' maxOccurs='5' />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='ContactDetails' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Current' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='Contact' minOccurs='2' maxOccurs='2'>
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base='NameStructure'>
                                  <xsd:sequence>
                                    <xsd:element name='Telephone' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                                    <xsd:element name='Email' type='EmailType' minOccurs='0' maxOccurs='1' />
                                  </xsd:sequence>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='New' minOccurs='0' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='Contact' minOccurs='2' maxOccurs='2'>
                            <xsd:complexType>
                              <xsd:complexContent>
                                <xsd:extension base='NameStructure'>
                                  <xsd:sequence>
                                    <xsd:element name='Telephone' type='TelephoneNumberType' minOccurs='0' maxOccurs='1' />
                                    <xsd:element name='Email' type='EmailType' minOccurs='0' maxOccurs='1' />
                                  </xsd:sequence>
                                </xsd:extension>
                              </xsd:complexContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
