EXCHLITE/ICE/CIS/Docs CIS/gov/pso/ret-v3-1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Tue May 30 11:59:48 BST 2006
  -->
<xsd:schema version='3.1' elementFormDefault='qualified' attributeFormDefault='unqualified' id='PensionReturn' targetNamespace='http://www.govtalk.gov.uk/taxation/PSOnline/Return/3' xmlns='http://www.govtalk.gov.uk/taxation/PSOnline/Return/3' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='PensionCore-v2-0.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>DecisionSoft Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2004-05-11</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2006-05-30</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>PensionCore</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>SchemeReturn</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PSRMarketValueCostType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PSRAssetsArmsLengthNatureType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PSRConnectedPartyAssetsNatureType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PSRRelatedSharesType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PSRLandInfoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>PSRAssetsInfoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2004-5</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Pension Schemes Online Return message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='SchemeReturn'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='VersionNumber' minOccurs='1' maxOccurs='1'>
          <xsd:simpleType>
            <xsd:restriction base='xsd:integer'>
              <xsd:pattern value='[0-9]' />
              <xsd:maxInclusive value='9' />
              <xsd:minInclusive value='0' />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name='SchemeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='SchemeName' type='SchemeNameType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='TaxYearEnded' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:date'>
                    <xsd:pattern value='[0-9]{4}-04-05' />
                    <xsd:minInclusive value='2007-04-05' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='TaxReference' type='TaxReferenceType' minOccurs='1' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AmendedReturn' type='YesNoType' minOccurs='1' maxOccurs='1' />
        <xsd:element name='OtherReturnPeriod' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Period' minOccurs='1' maxOccurs='5'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='StartDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='EndDate' type='xsd:date' minOccurs='1' maxOccurs='1' />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:choice minOccurs='1' maxOccurs='1'>
          <xsd:element name='OccupationalScheme' minOccurs='1' maxOccurs='1'>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name='Payments' minOccurs='1' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:choice minOccurs='1' maxOccurs='1'>
                      <xsd:element name='EqualToOrLessThan100k' minOccurs='1' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='100000.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name='GreaterThan100k' minOccurs='1' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='PensionContributions' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='TransferIn' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='TransferOut' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='LumpSums' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='LifetimeAnnuities' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='Borrowed' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name='Description' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
                                  <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
                                    <xsd:simpleType>
                                      <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                        <xsd:maxInclusive value='9999999999.00' />
                                        <xsd:minInclusive value='1.00' />
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='Assets400kOrLess' minOccurs='0' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                      <xsd:maxInclusive value='400000.00' />
                      <xsd:minInclusive value='0.00' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='AssetsFromSponsorOrMember' type='YesNoType' minOccurs='1' maxOccurs='1' />
                <xsd:element name='SharesSponsoringEmployer' type='PSRRelatedSharesType' minOccurs='0' maxOccurs='1' />
                <xsd:element name='LandOwnedPeriodEnd' type='PSRLandInfoType' minOccurs='0' maxOccurs='1' />
                <xsd:element name='OutstandingLoans' minOccurs='0' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='TotalOutstanding' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='TotalLoansMade' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='TotalLoansRepaid' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='TotalInterest' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='ConnectedPartyAssets' type='PSRAssetsInfoType' minOccurs='0' maxOccurs='1' />
                <xsd:element name='Cash' minOccurs='0' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='TotalPeriodStart' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='TotalPeriodEnd' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='TotalInterest' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name='AssetsArmsLength' minOccurs='0' maxOccurs='1'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='TotalPeriodEnd' type='PSRMarketValueCostType' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='Acquired' minOccurs='0' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Nature' type='PSRAssetsArmsLengthNatureType' minOccurs='1' maxOccurs='1' />
                            <xsd:element name='ResidentialProperty' type='YesNoType' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='Total' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name='Disposed' minOccurs='0' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='Nature' type='PSRAssetsArmsLengthNatureType' minOccurs='1' maxOccurs='1' />
                            <xsd:element name='ResidentialProperty' type='YesNoType' minOccurs='0' maxOccurs='1' />
                            <xsd:element name='TotalConsideration' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='ConnectedParty' type='YesNoType' minOccurs='1' maxOccurs='1' />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name='TotalIncome' minOccurs='1' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                            <xsd:maxInclusive value='9999999999.00' />
                            <xsd:minInclusive value='0.00' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name='SupplementaryPages' minOccurs='1' maxOccurs='1'>
            <xsd:complexType>
              <xsd:choice minOccurs='1' maxOccurs='1'>
                <xsd:element name='AssetsMemberCloseCompanyLand' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='YesNoType'>
                      <xsd:enumeration value='no' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name='Details' minOccurs='1' maxOccurs='unbounded'>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name='MemberDetails' type='MemberDetailsStructure' minOccurs='1' maxOccurs='1' />
                      <xsd:element name='SharesCloseCompany' type='PSRRelatedSharesType' minOccurs='0' maxOccurs='1' />
                      <xsd:element name='LandOrInterest' type='PSRLandInfoType' minOccurs='0' maxOccurs='1' />
                      <xsd:element name='LandOrInterestArmsLength' type='PSRLandInfoType' minOccurs='0' maxOccurs='1' />
                      <xsd:element name='OtherAssets' type='PSRAssetsInfoType' minOccurs='0' maxOccurs='1' />
                      <xsd:element name='TangibleMoveablePropertyAcquiredArmsLength' minOccurs='0' maxOccurs='1'>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name='TotalOwnedPeriodEnd' type='PSRMarketValueCostType' minOccurs='1' maxOccurs='1' />
                            <xsd:element name='TotalAcquired' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='TotalDisposalConsideration' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name='ConnectedParty' type='YesNoType' minOccurs='1' maxOccurs='1' />
                            <xsd:element name='TotalIncome' minOccurs='1' maxOccurs='1'>
                              <xsd:simpleType>
                                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                                  <xsd:maxInclusive value='9999999999.00' />
                                  <xsd:minInclusive value='0.00' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:element name='Declaration' type='DeclarationsType' minOccurs='1' maxOccurs='1' />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name='PSRMarketValueCostType'>
    <xsd:sequence>
      <xsd:element name='Amount' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
            <xsd:maxInclusive value='9999999999.00' />
            <xsd:minInclusive value='0.00' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='Type' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='xsd:string'>
            <xsd:enumeration value='total-cost' />
            <xsd:enumeration value='market-value' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='PSRAssetsArmsLengthNatureType'>
    <xsd:choice minOccurs='1' maxOccurs='1'>
      <xsd:sequence>
        <xsd:element name='QuotedShares' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='UnquotedShares' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='LandOrInterest' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='Loans' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='Transport' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='PlantMachinery' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='FixturesFittings' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='TangibleProperty' type='YesType' minOccurs='0' maxOccurs='1' />
      </xsd:sequence>
      <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name='PSRConnectedPartyAssetsNatureType'>
    <xsd:choice minOccurs='1' maxOccurs='1'>
      <xsd:sequence>
        <xsd:element name='QuotedShares' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='UnquotedShares' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='Transport' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='PlantMachinery' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='FixturesFittings' type='YesType' minOccurs='0' maxOccurs='1' />
        <xsd:element name='TangibleProperty' type='YesType' minOccurs='0' maxOccurs='1' />
      </xsd:sequence>
      <xsd:element name='Other' type='OtherDetailsType' minOccurs='1' maxOccurs='1' />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name='PSRRelatedSharesType'>
    <xsd:sequence>
      <xsd:element name='AtPeriodEnd' minOccurs='0' maxOccurs='1'>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base='PSRMarketValueCostType'>
              <xsd:sequence>
                <xsd:element name='TotalNumber' minOccurs='1' maxOccurs='1'>
                  <xsd:simpleType>
                    <xsd:restriction base='xsd:integer'>
                      <xsd:maxInclusive value='9999999999' />
                      <xsd:minInclusive value='1' />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='PurchasedOrSubscribed' minOccurs='0' maxOccurs='1'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name='TotalNumber' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='xsd:integer'>
                  <xsd:maxInclusive value='9999999999' />
                  <xsd:minInclusive value='1' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name='TotalCost' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                  <xsd:maxInclusive value='9999999999.00' />
                  <xsd:minInclusive value='0.00' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='SoldOrDisposed' minOccurs='0' maxOccurs='1'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name='TotalNumber' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='xsd:integer'>
                  <xsd:maxInclusive value='9999999999' />
                  <xsd:minInclusive value='1' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name='TotalConsideration' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                  <xsd:maxInclusive value='9999999999.00' />
                  <xsd:minInclusive value='0.00' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name='ConnectedParty' type='YesNoType' minOccurs='1' maxOccurs='1' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='TotalDividendsOrReceipts' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
            <xsd:maxInclusive value='9999999999.00' />
            <xsd:minInclusive value='0.00' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='RelatedCompanies' minOccurs='1' maxOccurs='1'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name='Details' minOccurs='1' maxOccurs='99'>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name='Name' minOccurs='1' maxOccurs='1'>
                    <xsd:simpleType>
                      <xsd:restriction base='PSOstringType'>
                        <xsd:minLength value='1' />
                        <xsd:maxLength value='255' />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name='CRN' type='CRNtype' minOccurs='1' maxOccurs='1' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='PSRLandInfoType'>
    <xsd:sequence>
      <xsd:element name='TotalPeriodEnd' type='PSRMarketValueCostType' minOccurs='1' maxOccurs='1' />
      <xsd:element name='LeaseholdCost' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
            <xsd:maxInclusive value='9999999999.00' />
            <xsd:minInclusive value='0.00' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='LeaseholdSale' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
            <xsd:maxInclusive value='9999999999.00' />
            <xsd:minInclusive value='0.00' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='NoConsiderationDisposal' type='PSRMarketValueCostType' minOccurs='1' maxOccurs='1' />
      <xsd:element name='DisposalsToConnectedParties' type='YesNoType' minOccurs='1' maxOccurs='1' />
      <xsd:element name='TotalIncome' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
            <xsd:maxInclusive value='9999999999.00' />
            <xsd:minInclusive value='0.00' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name='Residential' type='YesNoType' minOccurs='1' maxOccurs='1' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='PSRAssetsInfoType'>
    <xsd:sequence>
      <xsd:element name='Total' type='PSRMarketValueCostType' minOccurs='0' maxOccurs='1' />
      <xsd:element name='Acquired' minOccurs='0' maxOccurs='1'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name='Nature' type='PSRConnectedPartyAssetsNatureType' minOccurs='1' maxOccurs='1' />
            <xsd:element name='Total' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                  <xsd:maxInclusive value='9999999999.00' />
                  <xsd:minInclusive value='0.00' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='Disposed' minOccurs='0' maxOccurs='1'>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name='Nature' type='PSRConnectedPartyAssetsNatureType' minOccurs='1' maxOccurs='1' />
            <xsd:element name='TotalConsideration' minOccurs='1' maxOccurs='1'>
              <xsd:simpleType>
                <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
                  <xsd:maxInclusive value='9999999999.00' />
                  <xsd:minInclusive value='0.00' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name='ConnectedParty' type='YesNoType' minOccurs='1' maxOccurs='1' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='TotalIncome' minOccurs='1' maxOccurs='1'>
        <xsd:simpleType>
          <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryType'>
            <xsd:maxInclusive value='9999999999.00' />
            <xsd:minInclusive value='0.00' />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
